/software/java/picture/nbproject/private/
/software/java/picture/build/
/software/java/PictureGitBackup/nbproject/private/
/software/java/pictureBackupBeforescaleImpl/nbproject/private/
/software/java/pictureBackupBeforescaleImpl/build/
/software/java/pictureFastVersion/nbproject/private/
/software/java/pictureFastVersion/build/
Rapport/~$ektronik.docx
